.main {
    
    width: 800px ;

    
    
        display: grid;
        grid-template-columns: 3em 50px 33%;
        grid-template-rows: px auto;
        gap: 10px;
        background-color: var(--color-stroke);
        width: 944px px;
        height: 64px;
        top: 142px;
        left: 40px;
        background: #FFFFFF;
        gap: 20px;
        justify-content: space-around;
        align-items: center;
        border-radius: 20px;
        margin: 20px 20px;
        justify-items: start;

    
}

